#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  border-bottom: 1px solid #fefefe;
  padding: 1.5em;
  text-align: left;
}

.row:last-of-type {
  border-bottom: none;
}
